
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%; /*max-Width para a imagem não crescer maior que o tamanho do container*/
} 

ul {
  list-style: none;
}

body {
  background-color: #faf6ec;
  color: #222222;
   
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 130px minmax(300px, 800px) 1fr; 
}

nav {
  grid-column: 3 / 5;
  margin: 2rem 0rem;
  background-color: #fb5; 
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  padding: .625rem;
}

nav li a {
  display: block;
  padding: 15px 10px; /*Para aumentar a zona de clique*/
  margin-right: 10px;
  color: #222222;
  text-decoration: none;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  text-transform: uppercase;
  font-size: .875rem;
  letter-spacing: .1em;
}

.grid-section {
  grid-column: 2 / 4;
  width: 100%;
  box-sizing: border-box;
  padding: .875rem;
  display: grid;
  grid-template-columns: 100px 300px 1fr;
  gap: 15px;
  margin-bottom: 4rem;
}

.titulo {
  font-family: 'Playfair Display SC', Georgia;
  font-size: 6rem;
  line-height: 1;
  font-weight: normal;
  grid-column: 1 /4; 
  margin-bottom: 1rem; 
}

.animais h2 {
  font-family: 'IBM Plex Mono', monospace;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .1em;
  color: #f54;
}

.animais h2::before {
  content: '';
  display: inline-block;
  width: 30px;
  height: 11px;
  background-color: #fb5;
  margin-right: 5px;

}

.animais p {
  font-family: 'Roboto', Arial;
  line-height: 1.2;
  margin: 1rem 0px;
  
}

.animais-lista {
  height: 400px;
  overflow-y: scroll;
  grid-column: 2;
  
}

.animais-lista li {
  cursor: pointer;
}

.animais-lista::-webkit-scrollbar {
  width: 18px;
}

.animais-lista::-webkit-scrollbar-thumb {  /*Barrinha de rolar do scroll*/
  background-color: #fb5;
  border-left: 4px solid #faf6ec;
  border-right: 4px solid #faf6ec;
  border-radius: .5rem;
}

.animais-lista::-webkit-scrollbar-track {
  background-color: #faf6ec;
}

.animais-descricao {
  grid-column: 3;
}

.animais-descricao section {
  margin-bottom: 3rem;
}

.faq-lista {
  grid-column: 2 / 4;
}

.faq-lista dt {
  font-family: 'IBM Plex Mono', monospace;
  font-size: .875rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #f54;
  margin: .625rem 0px;
}

.faq-lista dt::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 10px;
  background-color: #fb5;
  margin-right: 5px;
  
}

.faq-lista dd {
  font-family: 'Roboto', Arial;
  line-height: 1.2;
  color: #222222;
}

.mapa {
  grid-column: 2;
}

.dados {
  grid-column: 3;
  font-family: 'Roboto', Arial;
  color: #222222;
  font-weight: bold;
}

.dados li {
  margin-bottom: 5px;
}

.dados li::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 10px;
  background-color: #fb5;
  margin-right: 5px;
}

@media only screen and (max-width: 700px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
  nav, .grid-section {
    grid-column: 1;
  }
  nav {
    margin-top: 0;
  }
  .titulo {
    font-size: 3rem;
  }
  .grid-section {
    grid-template-columns: 100px 1fr;
  }
  .animais-lista {
    grid-column: 1;
  }
  .faq, .dados, .mapa {
    grid-column: 1 / 3;
  }
}



