.modal-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, .5);
  top: 0;
  left: 0;
  z-index: 2000;
  display: none;
  align-items: center;
  justify-content: center;
}

.modal-container.ativo {
  display: flex;
  
}

.ativo .modal {
  animation: showModal .5s forwards;
}

@keyframes showModal {
  from {
    opacity: 0;
    transform: translate3d(0, -150px, 0px);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.modal {
  background-color: #faf6ec;
  padding: 40px;
  border: 10px solid #fb5;
  box-shadow: 0 0 0 10px #faf6ec;
  position: relative;
  min-width: 300px;
}

.fechar {
  position: absolute;
  top: -30px;
  right: -30px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 4px solid #fb5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .3);
  background-color: #faf6ec;
  color: #f54;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1rem;
  cursor: pointer;
}

.modal label {
  font-family: 'IBM Plex Mono', monospace;
  display: block;
  font-weight: bold;
  margin: 1rem 0 .5rem 0;
}

.modal input {
  width: 100%;
  padding: .7rem .5rem;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.176);
}

.modal button[type="submit"] {
  display: block;
  cursor: pointer;
  background-color: #f54;
  border: none;
  border-radius: 4px;
  padding: .7rem 2rem;
  font-size: 1rem;
  color: #faf6ec;
  font-family: 'IBM Plex Mono', monospace;
  margin-top: 1rem;
  font-weight: bold;

}


